body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F7FA;
  color: #1E293B;
}

.navbar {
  background: #384959;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  background: linear-gradient(135deg, #384959, #6A89A7);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}


.hero-overlay {
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 60px;
}

.hero h1 {
  font-size: 48px;
}

.section {
  padding: 60px 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
}

.form-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
}

.btn-primary {
  background: #384959;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background: #6A89A7;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.full {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #384959;
  color: white;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.logout-btn {
  background: #a47dab;
  border: none;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}


.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BDDDFC; /* stormy morning light blue */
}

.auth-box {
  background: white;
  padding: 40px;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #384959;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background-color: #6A89A7;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}


.dashboard-card {
  background-color: #6A89A7;
  color: white;
  padding: 30px 40px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  min-width: 220px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.dashboard-card:hover {
  background-color: #384959;
  transform: translateY(-5px);
}

