body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F7FA;
  color: #1E293B;
}

.navbar {
  background: #384959;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  background: linear-gradient(135deg, #384959, #6A89A7);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
    

.hero-overlay {
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 60px;
}

.hero h1 {
  font-size: 48px;
}

.section {
  padding: 60px 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
}

.form-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
}

.btn-primary {
  background: #384959;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background: #6A89A7;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.full {
  width: 100%;
}
